cmss/case-management/flows/RecordTriggerCaseAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SetCaseAccountAddress</name>
        <label>Set Case Account Address</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostCodeID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEmailNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseAccountBirthDate</name>
        <label>Set Case Account Birth Date</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>$Record.BirthDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PersonalIdentificationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonalIdentificationNr__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsGDPRResponseSent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseAccountEmail</name>
        <label>Set Case Account Email</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsComplainerNameNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseAccountFields</name>
        <label>Set Case Account Fields</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.BirthDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ComplainerFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ComplainerLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PersonalIdentificationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonalIdentificationNr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostCodeID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsGDPRResponseSent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClientClaimComplainerName</name>
        <label>Set Client Claim Complainer Name</label>
        <locationX>1194</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.ComplainerFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ComplainerLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShouldClientClai_ReportTypeBeUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClientClaimStatus</name>
        <label>Set Client Claim Status</label>
        <locationX>930</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeToClosedClientClaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetComplainerName</name>
        <label>Set Complainer Name</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.ComplainerFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ComplainerLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsBirthDateNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDetailComplaintPriority</name>
        <label>Set Detail Complaint Priority</label>
        <locationX>1348</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.DetailComplaintPriority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsClientClaimANDReceivedDateChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEntitlementStartDate</name>
        <label>Set Entitlement Start Date</label>
        <locationX>1348</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SlaStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceivedDatetime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsClientClaimANDLinkedPersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGDPRClaimStatus_0</name>
        <label>Set GDPR Claim Status</label>
        <locationX>215</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeToClosedGDPR_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordTypeId</name>
        <label>Set Record Type Id</label>
        <locationX>1287</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApplicantSameAsSubject</name>
        <label>Is Applicant Same As Subject?</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>IsAddressNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ApplicantIsSameAsSubject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicantSameAsSubject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseAccountFields</targetReference>
            </connector>
            <label>Applicant Is Same As Subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_GDPR_with_Linked_Account</name>
        <label>Is GDPR with Person Account Linked?</label>
        <locationX>501</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>IsGDPRResponseSent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>AccountLinked</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GDPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClosedGDPRClaim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApplicantSameAsSubject</targetReference>
            </connector>
            <label>Account Linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAddressNull</name>
        <label>Is Address Null?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>IsEmailNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>AddessIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostCodeID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseAccountAddress</targetReference>
            </connector>
            <label>Addess Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBirthDateNull</name>
        <label>Is Birth Date Null?</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>IsGDPRResponseSent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>BirthDateIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BirthDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonalIdentificationNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseAccountBirthDate</targetReference>
            </connector>
            <label>Birth Date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClientClaimANDLinkedPersonAccount</name>
        <label>Is Client Claim AND Linked Person Account?</label>
        <locationX>1480</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>ShouldClientClai_ReportTypeBeUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ClientClaimANDLinkedPersonAccount</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientClaimConfirmationSent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewClientClaim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClosedClientClaim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShouldComplainerNameBeUpdated</targetReference>
            </connector>
            <label>Client Claim AND Linked Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClientClaimANDPriorityChangedTo1</name>
        <label>Is Client Claim AND Priority Changed to 1?</label>
        <locationX>1480</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>IsClientClaimANDReceivedDateChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ClientClaimANDPriorityChangedTo1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClientClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DetailComplaintPriority__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDetailComplaintPriority</targetReference>
            </connector>
            <label>Client Claim AND Priority Changed to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClientClaimANDReceivedDateChanged</name>
        <label>Is Client Claim AND Received Date Changed?</label>
        <locationX>1480</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>IsClientClaimANDLinkedPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ClientClaimANDReceivedDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClientClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceivedDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceivedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SlaStartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ReceivedDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEntitlementStartDate</targetReference>
            </connector>
            <label>Client Claim AND Received Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsComplainerNameNull</name>
        <label>Is Complainer Name Null?</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>IsBirthDateNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ComplainerNameIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplainerFirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplainerLastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetComplainerName</targetReference>
            </connector>
            <label>Complainer Name Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEmailNull</name>
        <label>Is Email Null?</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>IsComplainerNameNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>EmailIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseAccountEmail</targetReference>
            </connector>
            <label>Email Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGDPRANDClosedORCancelledStatus</name>
        <label>Is GDPR AND Closed OR Cancelled Status?</label>
        <locationX>501</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>SetRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>GDPRANDClosedORCancelledStatus</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GDPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordTypeToClosedGDPR_0</targetReference>
            </connector>
            <label>GDPR AND Closed OR Cancelled Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGDPRResponseSent</name>
        <label>Is GDPR Response Sent?</label>
        <locationX>501</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>IsGDPRANDClosedORCancelledStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ResponseSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GDPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponseSentDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponseSentDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNotGDPRStatus2</targetReference>
            </connector>
            <label>Response Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNotClientClaimStatus2</name>
        <label>Is Not Client Claim Status 2?</label>
        <locationX>1062</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>UpdateRecordTypeToClosedClientClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ClientClaimStatusIsNot2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetClientClaimStatus</targetReference>
            </connector>
            <label>Client Claim Status Is Not 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNotGDPRStatus2</name>
        <label>Is Not GDPR Status 2?</label>
        <locationX>347</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>IsGDPRANDClosedORCancelledStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>GDPRStatusIsNot2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGDPRClaimStatus_0</targetReference>
            </connector>
            <label>GDPR Status Is Not 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShouldClientClai_ReportTypeBeUpdated</name>
        <label>Should Client Claim Report Type Be Updated?</label>
        <locationX>1480</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>SetRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change Needed</defaultConnectorLabel>
        <rules>
            <name>ClientClaimANDResponseSentChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClientClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponseSentDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponseSentDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClosedClientClaim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNotClientClaimStatus2</targetReference>
            </connector>
            <label>Client Claim AND Response Sent changed</label>
        </rules>
        <rules>
            <name>ClientClaimANDReceivingConfirmationChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClientClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceivingConfirmationNotSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClientClaimConfirmationSent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordTypeToClientClaimConfirmationSent</targetReference>
            </connector>
            <label>Client Claim AND Receiving Confirmation changed</label>
        </rules>
        <rules>
            <name>ClientClaimANDClosedOrCancelledStatus</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClientClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordTypeToClosedClientClaim2</targetReference>
            </connector>
            <label>Client Claim AND Closed or Cancelled Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShouldComplainerNameBeUpdated</name>
        <label>Should Complainer Name Be Updated?</label>
        <locationX>1326</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>ShouldClientClai_ReportTypeBeUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>UpdateNeeded</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicantSameAsSubject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplainerFirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplainerLastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetClientClaimComplainerName</targetReference>
            </connector>
            <label>Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichTypeOfCase</name>
        <label>Which Type of Case?</label>
        <locationX>1287</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GDPR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GDPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClosedGDPRClaim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_GDPR_with_Linked_Account</targetReference>
            </connector>
            <label>GDPR</label>
        </rules>
        <rules>
            <name>ClientClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClientClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsClientClaimANDPriorityChangedTo1</targetReference>
            </connector>
            <label>Client Claim</label>
        </rules>
    </decisions>
    <description>All the actions that should take action after case update.</description>
    <interviewLabel>Record-Trigger: Case After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: CASE After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCaseFields</name>
        <label>Update Case Fields</label>
        <locationX>1287</locationX>
        <locationY>3455</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1161</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhichTypeOfCase</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>UpdateRecordTypeToClientClaimConfirmationSent</name>
        <label>Update Record Type to ClientClaimConfirmationSent</label>
        <locationX>1370</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>SetRecordTypeId</targetReference>
        </connector>
        <flowName>UpdateCaseRecordType</flowName>
        <inputAssignments>
            <name>InputCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputNewRecordTypeName</name>
            <value>
                <stringValue>ClientClaimConfirmationSent</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UpdateRecordTypeToClosedClientClaim</name>
        <label>Update Record Type to ClosedClientClaim</label>
        <locationX>1062</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>SetRecordTypeId</targetReference>
        </connector>
        <flowName>UpdateCaseRecordType</flowName>
        <inputAssignments>
            <name>InputCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputNewRecordTypeName</name>
            <value>
                <stringValue>ClosedClientClaim</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UpdateRecordTypeToClosedClientClaim2</name>
        <label>Update Record Type to ClosedClientClaim</label>
        <locationX>1634</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>SetRecordTypeId</targetReference>
        </connector>
        <flowName>UpdateCaseRecordType</flowName>
        <inputAssignments>
            <name>InputCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputNewRecordTypeName</name>
            <value>
                <stringValue>ClosedClientClaim</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UpdateRecordTypeToClosedGDPR_0</name>
        <label>Update Record Type To Closed GDPR</label>
        <locationX>369</locationX>
        <locationY>3023</locationY>
        <connector>
            <targetReference>SetRecordTypeId</targetReference>
        </connector>
        <flowName>UpdateCaseRecordType</flowName>
        <inputAssignments>
            <name>InputCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputNewRecordTypeName</name>
            <value>
                <stringValue>ClosedGDPRClaim</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UpdateRecordTypeToClosedGDPR_0_0</name>
        <label>Update Record Type To Closed GDPR</label>
        <locationX>215</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>IsGDPRANDClosedORCancelledStatus</targetReference>
        </connector>
        <flowName>UpdateCaseRecordType</flowName>
        <inputAssignments>
            <name>InputCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputNewRecordTypeName</name>
            <value>
                <stringValue>ClosedGDPRClaim</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
