cmss/case-management/flows/UpdateCaseRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsInputValid</name>
        <label>IsInputValid</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseIdAndRecordTypeNameProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputNewRecordTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIdByDevName</targetReference>
            </connector>
            <label>Case Id And Record Type Name Provided</label>
        </rules>
    </decisions>
    <description>Flow to update Record Type of the case based on the provided CaseId and new Record Type Developer Name</description>
    <interviewLabel>Update Case Record Type {!$Flow.CurrentDateTime}. Input parametres: CaseId {!InputCaseId}, Record Type Developer Name {!InputNewRecordTypeName}</interviewLabel>
    <label>Update Case Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsInputValid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>We will get the Record Type Id that we will assign to the Case</description>
        <name>GetRecordTypeIdByDevName</name>
        <label>Get Record Type Id By Dev Name</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <flowName>GetRecordTypeIdByNameAndSObjectType</flowName>
        <inputAssignments>
            <name>InputObjectType</name>
            <value>
                <elementReference>CaseSObjectType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputRecordTypeDeveloperName</name>
            <value>
                <elementReference>InputNewRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <name>OutputRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Name of the object Case that we will use to query Record Types for</description>
        <name>CaseSObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Case Id for which RecordTypeId will be changed.</description>
        <name>InputCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Name of the new Record Type of the Case</description>
        <name>InputNewRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Record Type Id that we queried based on the provided Record Type Developer Name</description>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
