cmss/main/default/flows/CaseOnCreatePortfolioManagementChangeRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recall_approvals</name>
        <label>Recall approvals</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <actionName>ApprovalRecallService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_statuses</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>CasesWithStatus2Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_id_to_collection</name>
        <label>Add id to collection</label>
        <locationX>270</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>CasesWithStatus2Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_expired_requests.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_to_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_to_6</name>
        <label>Set status to 6</label>
        <locationX>402</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_expired_requests.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_expired_requests</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsNotEmpty</name>
        <label>IsNotEmpty</label>
        <locationX>182</locationX>
        <locationY>1188</locationY>
        <defaultConnector>
            <targetReference>Update_statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesWithStatus2Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recall_approvals</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_equals_2</name>
        <label>Status equals 2</label>
        <locationX>402</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Set_status_to_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_expired_requests.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_id_to_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>expiryDateLimitBottom</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-1)</expression>
    </formulas>
    <formulas>
        <name>expiryDateLimitTop</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>CaseOnCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case On Create Portfolio Management Change Request</label>
    <loops>
        <name>Iterate_over_expired_requests</name>
        <label>Iterate over expired requests</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Expired_requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_equals_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsNotEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Expired_requests</name>
        <label>Get Expired requests</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_expired_requests</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>portfolioManagementChangeRequestRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>21</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>22</stringValue>
            </value>
        </filters>
        <filters>
            <field>ExpiryDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>expiryDateLimitBottom</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExpiryDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>expiryDateLimitTop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portfolio_Management_Change_Request_Record_Type_Id</name>
        <label>Get Portfolio Management Change Request Record Type Id</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Expired_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PortfolioManagementChangeRequest</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>portfolioManagementChangeRequestRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_statuses</name>
        <label>Update statuses</label>
        <locationX>182</locationX>
        <locationY>1524</locationY>
        <inputReference>Get_Expired_requests</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Portfolio_Management_Change_Request_Record_Type_Id</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CasesWithStatus2Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_cases_with_status_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>portfolioManagementChangeRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
