cmss/main/default/flows/CASESendPortfolioManagementRequestStatusChangeNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notifications</name>
        <label>Send Notifications</label>
        <locationX>1106</locationX>
        <locationY>2615</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Add_emails_to_collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Změna stavu žádosti</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipientsIDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_emails_to_collection</name>
        <label>Add emails to collection</label>
        <locationX>1106</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_1st_Assistant.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_New_Portfolio_Manager.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_Owner_1.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_Owner_2.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_Owner_3.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_Owner_4.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_email_for_Regional_Manager.MailServiceNotification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_notifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUserIdToCollection</name>
        <label>Add User Id To Collection</label>
        <locationX>1194</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipientsIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopNotificationRecipients.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_result</name>
        <label>Assign error result</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ResultSuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zpracováno neúspěšně</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_result</name>
        <label>Assign success result</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ResultSuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zpracováno úspěšně</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bell_Notification</name>
        <label>Set Bell Notification</label>
        <locationX>842</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>NotificationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_OdmitnutoZpracovani</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bell_Notification3</name>
        <label>Set Bell Notification</label>
        <locationX>1106</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>NotificationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_Expirovana</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bell_Notification4</name>
        <label>Set Bell Notification</label>
        <locationX>1898</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>NotificationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_Schvalena</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bell_Notification5</name>
        <label>Set Bell Notification</label>
        <locationX>578</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>NotificationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_Zamitnuta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bell_Notifications</name>
        <label>Set Bell Notifications</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>NotificationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_CekaNaSchvaleni</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.RegionalManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.Assistant_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bell_Notifications2</name>
        <label>Set Bell Notifications</label>
        <locationX>1370</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>NotificationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_Zpracovana</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_recipients_users.NewPortfolioManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Email_Body</name>
        <label>Update Email Body</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Get_Email_Template.HtmlValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplateBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Case_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Case_Status</name>
        <label>Determine Case Status</label>
        <locationX>1106</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ek_na_schv_len</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>22</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_email_for_Regional_Manager</targetReference>
            </connector>
            <label>Čeká na schválení</label>
        </rules>
        <rules>
            <name>Zam_tnut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>24</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_approver_the_same_as_owner1</targetReference>
            </connector>
            <label>Zamítnutá</label>
        </rules>
        <rules>
            <name>Odm_tnuto_zpracov_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>28</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_email_for_Owner_2</targetReference>
            </connector>
            <label>Odmítnuto zpracování</label>
        </rules>
        <rules>
            <name>Expirovan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>26</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_email_for_Owner_3</targetReference>
            </connector>
            <label>Expirovaná</label>
        </rules>
        <rules>
            <name>Zpracov_no_s_chybou_i_bez_chyby</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>29</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_email_for_Owner_4</targetReference>
            </connector>
            <label>Zpracováno s chybou či bez chyby</label>
        </rules>
        <rules>
            <name>Schv_len</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>23</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_approver_the_same_as_owner</targetReference>
            </connector>
            <label>Schválená</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_approver_the_same_as_owner</name>
        <label>Is approver the same as owner?</label>
        <locationX>1766</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Set_Bell_Notification4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_approver_the_same_as_owner1</name>
        <label>Is approver the same as owner?</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Add_email_for_Owner_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Portfolio_Management_Change_Request</name>
        <label>Is Portfolio Management Change Request</label>
        <locationX>1766</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetPortfoli_ManagemntChangeRequestRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUserActive</name>
        <label>Is User Active?</label>
        <locationX>1326</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>LoopNotificationRecipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopNotificationRecipients.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserIdToCollection</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_or_error</name>
        <label>Is Success Or Error</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_Email_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Zpracovnobez_chyb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>29</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_result</targetReference>
            </connector>
            <label>Zpracováno bez chyb</label>
        </rules>
        <rules>
            <name>Zpracovnoschybou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_result</targetReference>
            </connector>
            <label>Zpracováno s chybou</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailTemplateBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
     SUBSTITUTE(
          SUBSTITUTE(
               {!Get_Email_Template.HtmlValue}, 
               &quot;{LINKTOCASE}&quot;, 
               LEFT({!$Api.Enterprise_Server_URL_560}, FIND(&quot;/services/&quot;, {!$Api.Enterprise_Server_URL_560})) + {!$Record.Id}
          ), 
          &quot;{RESULT}&quot;, 
          {!ResultSuccessText}
     ),
     &quot;{CPUNAME}&quot;,
     {!$Record.Owner:User.CommissionAccountNr__c} + &quot;, &quot; + {!$Record.Owner:User.FirstName} + &quot; &quot; + {!$Record.Owner:User.LastName}
)</expression>
    </formulas>
    <formulas>
        <name>Value_CekaNaSchvaleni</name>
        <dataType>String</dataType>
        <expression>&quot;Žádost č. &quot; &amp; {!$Record.CaseNumber} &amp; &quot; o převod SPS ze dne &quot; &amp; TEXT({!$Record.CreatedDate}) &amp; &quot; čeká na schválení.&quot;</expression>
    </formulas>
    <formulas>
        <name>Value_Expirovana</name>
        <dataType>String</dataType>
        <expression>&quot;Žádost č. &quot; &amp; {!$Record.CaseNumber} &amp; &quot; ze dne &quot; &amp; TEXT({!$Record.CreatedDate}) &amp; &quot; expirovala.&quot;</expression>
    </formulas>
    <formulas>
        <name>Value_OdmitnutoZpracovani</name>
        <dataType>String</dataType>
        <expression>&quot;Žádost č. &quot; &amp; {!$Record.CaseNumber} &amp; &quot; ze dne &quot; &amp; TEXT({!$Record.CreatedDate}) &amp; &quot; se nepodařilo provést. Kontaktujte Helpdesk.&quot;</expression>
    </formulas>
    <formulas>
        <name>Value_Schvalena</name>
        <dataType>String</dataType>
        <expression>&quot;Žádost č. &quot; &amp; {!$Record.CaseNumber} &amp; &quot; ze dne &quot; &amp; TEXT({!$Record.CreatedDate}) &amp; &quot; schválena.&quot;</expression>
    </formulas>
    <formulas>
        <name>Value_Zamitnuta</name>
        <dataType>String</dataType>
        <expression>&quot;Žádost č. &quot; &amp; {!$Record.CaseNumber} &amp; &quot; ze dne &quot; &amp; TEXT({!$Record.CreatedDate}) &amp; &quot; zamítnuta.&quot;</expression>
    </formulas>
    <formulas>
        <name>Value_Zpracovana</name>
        <dataType>String</dataType>
        <expression>&quot;Žádost SPS č. &quot; + {!$Record.CaseNumber} + &quot; zpracována. Celkový počet klientů &quot; + TEXT({!$Record.TotalRequestsNumber__c}) + &quot;, bez chyby &quot; + TEXT({!$Record.SuccessRequestsNumber__c}) + &quot;, s chybou &quot; + TEXT({!$Record.FailedRequestsNumber__c})</expression>
    </formulas>
    <interviewLabel>CASE notifications send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Send Portfolio Management Request Status Change Notifications</label>
    <loops>
        <name>LoopNotificationRecipients</name>
        <label>Loop Notification Recipients</label>
        <locationX>1106</locationX>
        <locationY>2063</locationY>
        <collectionReference>NotificationRecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsUserActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notifications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_notifications</name>
        <label>Insert email notifications</label>
        <locationX>1106</locationX>
        <locationY>2855</locationY>
        <inputReference>EmailNotifications</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_recipients_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PortfolioManagementRequestStatusChangedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PortfolioManagementRequestStatusChanged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPortfoli_ManagemntChangeRequestRecordType</name>
        <label>GetPortfoli ManagemntChangeRequestRecordType</label>
        <locationX>1766</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Portfolio_Management_Change_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PortfolioManagementChangeRequest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPortfoli_ManagemntChangeRequestRecordType</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>22</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>24</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>28</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>26</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_email_for_1st_Assistant</name>
        <label>Add email for 1st Assistant</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Set_Bell_Notifications</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.Assistant_1</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Add_email_for_New_Portfolio_Manager</name>
        <label>Add email for New Portfolio Manager</label>
        <locationX>1370</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Set_Bell_Notifications2</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.NewPortfolioManager</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Add_email_for_Owner_1</name>
        <label>Add email for Owner 1</label>
        <locationX>578</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Set_Bell_Notification5</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Add_email_for_Owner_2</name>
        <label>Add email for Owner 2</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Set_Bell_Notification</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Add_email_for_Owner_3</name>
        <label>Add email for Owner 3</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Set_Bell_Notification3</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Add_email_for_Owner_4</name>
        <label>Add email for Owner 4</label>
        <locationX>1370</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Add_email_for_New_Portfolio_Manager</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Add_email_for_Regional_Manager</name>
        <label>Add email for Regional Manager</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Add_email_for_1st_Assistant</targetReference>
        </connector>
        <flowName>Subflow_Create_Mail_Service_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient</name>
            <value>
                <elementReference>Get_recipients_users.RegionalManager</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_recipients_users</name>
        <label>Get recipients users</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Success_or_error</targetReference>
        </connector>
        <flowName>Subflow_Get_recipients_users</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Remove_nulls</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailNotifications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailServiceNotification__c</objectType>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NotificationRecipientsIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultSuccessText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
