cmss/main/default/flows/CreateMicroCampaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_data</name>
        <label>Create data</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CreateMicroCampaignAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_results</targetReference>
        </connector>
        <inputParameters>
            <name>jsonData</name>
            <value>
                <elementReference>jsonData</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorsCount</assignToReference>
            <name>errorsCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>successes</assignToReference>
            <name>successes</name>
        </outputParameters>
    </actionCalls>
    <description>create micro-Campaign from collection of accoutns or assets</description>
    <interviewLabel>CreateMicroCampaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Micro Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Input_form</name>
        <label>Input form</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_data</targetReference>
        </connector>
        <fields>
            <name>form</name>
            <extensionName>c:createMicroCampaignForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ids</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>jsonData</assignToReference>
                <name>outputData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_results</name>
        <label>Show results</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Počet vytvořených úkolů: {!successes}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Počet chyb: {!errorsCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>input - record ids, either accounts or assets</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>complete data for data creation in form of JSON string</description>
        <name>jsonData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>successes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
