cmss/main/default/flows/EventWithObjUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>exit</name>
        <label>exit</label>
        <locationX>122</locationX>
        <locationY>227</locationY>
        <actionName>c:FlowNavigationHelper</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>helperAction</name>
            <value>
                <stringValue>openRecord</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openRecordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>newStage</name>
        <label>newStage</label>
        <locationX>465</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>getOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updStage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cancelOrContinue</name>
        <label>cancelOrContinue</label>
        <locationX>900</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>createEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelContinueScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exit</targetReference>
            </connector>
            <label>cancel</label>
        </rules>
    </decisions>
    <decisions>
        <description>pokud je opp v uvodni fazi, potom zmenit na novou fazi</description>
        <name>changeOppStage</name>
        <label>change opp stage</label>
        <locationX>682</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>exit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>initialStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newStage</targetReference>
            </connector>
            <label>initial stage</label>
        </rules>
    </decisions>
    <description>Novy event dle vstupnich parametru s updatem objektu (opportunity)</description>
    <dynamicChoiceSets>
        <name>eventTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>eventEndTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!eventStartTimeFormula}+({!eventDurationMin}/1440)</expression>
    </formulas>
    <formulas>
        <name>eventStartTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+({!eventStartMin}/1440)</expression>
    </formulas>
    <formulas>
        <name>eventSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!eventType} + &quot; - &quot; + {!getPersonAccount.Name}</expression>
    </formulas>
    <interviewLabel>EventWithObjUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vytvoření události</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEvent</name>
        <label>create event</label>
        <locationX>883</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>changeOppStage</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eventDescriptionScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>eventEndScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>eventResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>eventStartTimeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>eventSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>eventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>311</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>labelScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPersonAccount</name>
        <label>getPersonAccount</label>
        <locationX>189</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updStage</name>
        <label>updStage</label>
        <locationX>279</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>exit</targetReference>
        </connector>
        <inputReference>getOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>labelScreen</name>
        <label>Nová událost</label>
        <locationX>468</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cancelOrContinue</targetReference>
        </connector>
        <fields>
            <name>eventTypeScreen</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <elementReference>eventTypePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>eventType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountNameScreen</name>
            <fieldText>&lt;p&gt;{!getPersonAccount.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eventStartScreen</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>eventStartTimeFormula</elementReference>
            </defaultValue>
            <fieldText>Začátek</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eventEndScreen</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>eventEndTimeFormula</elementReference>
            </defaultValue>
            <fieldText>Konec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eventDescriptionScreen</name>
            <fieldText>Informace o události</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flowFooterScreen</name>
            <extensionName>c:FlowFooterHelper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelContinueScreen</assignToReference>
                <name>pressedButton</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>getPersonAccount</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cancelContinueScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventDurationMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>eventResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventStartMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>eventSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityStageTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
