cmss/main/default/flows/EventWithObjUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>exit</name>
        <label>exit</label>
        <locationX>63</locationX>
        <locationY>370</locationY>
        <actionName>c:FlowNavigationHelper</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>helperAction</name>
            <value>
                <stringValue>openRecord</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openRecordId</name>
            <value>
                <elementReference>openRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apexPluginCalls>
        <name>translateDefaultEventType</name>
        <label>translateDefaultEventType</label>
        <locationX>308</locationX>
        <locationY>122</locationY>
        <apexClass>FlowHelperPicklist</apexClass>
        <connector>
            <targetReference>isOpportunityDefined</targetReference>
        </connector>
        <inputParameters>
            <name>ApiName</name>
            <value>
                <elementReference>eventType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>Type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectName</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>eventTypeTranslated</assignToReference>
            <name>ItemValue</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>translateSelectedEventType</name>
        <label>translateSelectedEventType</label>
        <locationX>1086</locationX>
        <locationY>298</locationY>
        <apexClass>FlowHelperPicklist</apexClass>
        <connector>
            <targetReference>createEvent</targetReference>
        </connector>
        <inputParameters>
            <name>ApiName</name>
            <value>
                <elementReference>eventTypeScreen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>Type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectName</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>eventTypeTranslated</assignToReference>
            <name>ItemValue</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>openRecordIdAccount</name>
        <label>openRecordIdAccount</label>
        <locationX>719</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>openRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>labelScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>openRecordIdOpportunity</name>
        <label>openRecordIdOpportunity</label>
        <locationX>782</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>openRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>labelScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>eventTypeDefaultChoice</name>
        <choiceText>{!eventTypeTranslated}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>eventType</elementReference>
        </value>
    </choices>
    <decisions>
        <name>cancelOrContinue</name>
        <label>cancelOrContinue</label>
        <locationX>809</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>translateSelectedEventType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelContinueScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exit</targetReference>
            </connector>
            <label>cancel</label>
        </rules>
    </decisions>
    <decisions>
        <description>pokud je opp v uvodni fazi, potom zmenit na novou fazi</description>
        <name>changeOppStage</name>
        <label>change opp stage</label>
        <locationX>400</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>exit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>initialStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityStageCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStage</targetReference>
            </connector>
            <label>initial stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOpportunityDefined</name>
        <label>isOpportunityDefined</label>
        <locationX>475</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>openRecordIdAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oppDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunity</targetReference>
            </connector>
            <label>opp defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOpportunityDefined2</name>
        <label>isOpportunityDefined2</label>
        <locationX>847</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>exit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oppDefined2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updEventOpportunity</targetReference>
            </connector>
            <label>oppDefined2</label>
        </rules>
    </decisions>
    <description>Novy event dle vstupnich parametru s updatem objektu (opportunity)</description>
    <dynamicChoiceSets>
        <name>eventTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>phoneChoice</name>
        <dataType>String</dataType>
        <displayField>PhoneNumber__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactInformationType</elementReference>
            </value>
        </filters>
        <object>ContactInformation__c</object>
        <valueField>PhoneNumber__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>eventEndTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!eventStartTimeFormula}+({!eventDurationMin}/1440)</expression>
    </formulas>
    <formulas>
        <name>eventStartTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+({!eventStartMin}/1440)</expression>
    </formulas>
    <formulas>
        <name>eventSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!eventTypeTranslated} + &quot; - &quot; + {!getPersonAccount.Name}</expression>
    </formulas>
    <interviewLabel>EventWithObjUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event With Object Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEvent</name>
        <label>create event</label>
        <locationX>1010</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>isOpportunityDefined2</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eventDescriptionScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>eventEndScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>phoneScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>eventResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>eventStartTimeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>eventSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>eventTypeScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>655</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>openRecordIdOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPersonAccount</name>
        <label>getPersonAccount</label>
        <locationX>159</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>translateDefaultEventType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updEventOpportunity</name>
        <label>updEventOpportunity</label>
        <locationX>720</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>changeOppStage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createEvent</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>updStage</name>
        <label>updStage</label>
        <locationX>42</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>exit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>opportunityStageTo</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>labelScreen</name>
        <label>Nová událost</label>
        <locationX>1011</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cancelOrContinue</targetReference>
        </connector>
        <fields>
            <name>accountNameScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Událost s klientem&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!getPersonAccount.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eventTypeScreen</name>
            <choiceReferences>eventTypeDefaultChoice</choiceReferences>
            <choiceReferences>eventTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Typ události</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phoneScreen</name>
            <choiceReferences>phoneChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Telefon</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contactInformationType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eventStartScreen</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>eventStartTimeFormula</elementReference>
            </defaultValue>
            <fieldText>Začátek</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eventEndScreen</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>eventEndTimeFormula</elementReference>
            </defaultValue>
            <fieldText>Konec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eventDescriptionScreen</name>
            <fieldText>Informace o události</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flowFooterScreen</name>
            <extensionName>c:FlowFooterHelper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelContinueScreen</assignToReference>
                <name>pressedButton</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>getPersonAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cancelContinueScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactInformationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventDurationMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>eventResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventStartMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>eventSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventTypeTranslated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityStageCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityStageTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
