cmss/main/default/flows/ProductContractUrl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openUrl</name>
        <label>openUrl</label>
        <locationX>107</locationX>
        <locationY>1073</locationY>
        <actionName>c:FlowNavigationHelper</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>helperAction</name>
            <value>
                <stringValue>openUrl</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openUrl</name>
            <value>
                <elementReference>productItemUrl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>buildImageHorizontalHtmlRow</name>
        <label>buildImageHorizontalHtmlRow</label>
        <locationX>1063</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>productItemRowsHtml</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productItemHtmlRowHorizontal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>join</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>buildImageHtmlRow</name>
        <label>buildImageHtmlRow</label>
        <locationX>716</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>productItemRowsHtml</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productItemHtmlRowImage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>join</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>buildImageVerticalHtmlRow</name>
        <label>buildImageVerticalHtmlRow</label>
        <locationX>962</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>productItemRowsHtml</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productItemHtmlRowVertical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>join</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>buildTextHtmlRow</name>
        <label>buildTextHtmlRow</label>
        <locationX>882</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>productItemRowsHtml</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productItemHtmlRowText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>join</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dbDataGetter1</name>
        <label>retrieve accountId from opp</label>
        <locationX>495</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oppProductDefined</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dbDataGetter2</name>
        <label>retrieve app process from product</label>
        <locationX>1010</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>applicationProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dbDataGetter3</name>
        <label>retrieve globalId</label>
        <locationX>230</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>globalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account.GlobalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Mdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dbDataGetter4</name>
        <label>retrieve accountId from flow input</label>
        <locationX>525</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>exit</name>
        <label>exit</label>
        <locationX>419</locationX>
        <locationY>1080</locationY>
        <assignmentItems>
            <assignToReference>showButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>showButtons</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>finalHtml</name>
        <label>finalHtml</label>
        <locationX>303</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>productHtml</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!htmlTableHeader}{!prefferedItemRowHtml}{!productItemRowsHtml}{!htmlTableFooter}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductUrlScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lastItem</name>
        <label>lastItem</label>
        <locationX>111</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>productItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastPrefferedProductItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>openUrl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prefferedBolder</name>
        <label>prefferedAssign</label>
        <locationX>502</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>htmlBolderStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>htmlPrefferedRowStartTag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>htmlBolderEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>htmlPrefferedRowEndTag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prefferedItemCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastPrefferedProductItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prefferedBolder_0</name>
        <label>normalItemAssign</label>
        <locationX>427</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>htmlBolderStart</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>htmlBolderEnd</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>mode</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>htmlPrefferedRowEndTag</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;/b&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>htmlPrefferedRowStartTag</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;b&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>accountDefined</name>
        <label>accountDefined</label>
        <locationX>547</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Application_Mdt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>accountDefinedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dbDataGetter3</targetReference>
            </connector>
            <label>accountDefinedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPreffered</name>
        <label>preffered item - appliationProcessId known</label>
        <locationX>300</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>prefferedBolder_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>preffered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productItem.ApplicationProcessId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>applicationProcessId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prefferedBolder</targetReference>
            </connector>
            <label>preffered</label>
        </rules>
    </decisions>
    <decisions>
        <name>join</name>
        <label>join</label>
        <locationX>1009</locationX>
        <locationY>454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>displayMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>displayMode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>listApplicationItems</targetReference>
            </connector>
            <label>default</label>
        </rules>
    </decisions>
    <decisions>
        <name>mode</name>
        <label>displayMode</label>
        <locationX>705</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>buildImageHtmlRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>displayMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buildTextHtmlRow</targetReference>
            </connector>
            <label>text</label>
        </rules>
        <rules>
            <name>imgVertical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>displayMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>imgVertical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buildImageVerticalHtmlRow</targetReference>
            </connector>
            <label>imgVertical</label>
        </rules>
        <rules>
            <name>imgHorizontal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>displayMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>imgHorizontal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buildImageHorizontalHtmlRow</targetReference>
            </connector>
            <label>imgHorizontal</label>
        </rules>
    </decisions>
    <decisions>
        <name>openWithoutUser</name>
        <label>openWithoutUser</label>
        <locationX>105</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>finalHtml</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicationProcessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>prefferedItemCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastPrefferedProductItem.WaitForUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lastItem</targetReference>
            </connector>
            <label>open</label>
        </rules>
    </decisions>
    <decisions>
        <name>oppDefined</name>
        <label>oppDefined</label>
        <locationX>298</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>dbDataGetter4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oppDefinedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dbDataGetter1</targetReference>
            </connector>
            <label>oppDefinedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>oppProductDefined</name>
        <label>oppProductDefined</label>
        <locationX>645</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>getAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oppProductDefinedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProduct</targetReference>
            </connector>
            <label>oppProductDefinedTrue</label>
        </rules>
    </decisions>
    <description>Dialog shows end user application list for contract details. It has either tabular (text) or image (imgVertical/imgHorizontal) displayMode. If there is a product on opportunity with corresponding applicationProcessId (see ProductContract metadata), this component can higlight item or it can open URL automatically.

In URL there may be parameters ({GlobalId}, {OppportunityId}) used and component will replace it with values from SFDB.

A cancel button may be hidden (showButtons parameter).</description>
    <formulas>
        <name>getCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.CommissionAccountNr__c}</expression>
    </formulas>
    <formulas>
        <name>htmlTableFooter</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;/table&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>htmlTableHeader</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;table&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>productItemHtmlRowHorizontal</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;td&gt;&lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;a href=&#39;&quot; +  {!productItemUrl} 
+  &quot;&#39;&gt;&lt;img src=&#39;&quot; + {!serverUrl} + {!productItem.ImageName__c} + &quot;&#39; height=&#39;&quot; + {!imgSize} + &quot;&#39; width=&#39;&quot; + {!imgSize} + &quot;&#39;&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td align =&#39;center&#39;&gt;&quot; +  {!htmlBolderStart} + {!productItem.Label} +  {!htmlBolderEnd}+ &quot;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>productItemHtmlRowImage</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&#39;&quot; + {!productItemUrl} 
+ &quot;&#39;&gt;&lt;img src=&#39;&quot; + {!serverUrl} + {!productItem.ImageName__c} +&quot;&#39; height=&#39;&quot; + {!imgSize} + &quot;&#39; width=&#39;&quot; + {!imgSize} + &quot;&#39;&gt;&lt;/a&gt;&lt;span style=&#39;writing-mode: vertical-rl&#39;&gt;&quot; + {!productItem.Label} + &quot;&lt;/span&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>productItemHtmlRowText</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;tr&gt;&lt;td&gt;&quot; + {!htmlBolderStart} + &quot;&lt;a href=&#39;&quot; + {!productItemUrl} 
+ &quot;&#39;&gt;&quot; + {!productItem.Label} + &quot;&lt;/a&gt;&quot; +  {!htmlBolderEnd} + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>productItemHtmlRowVertical</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;tr&gt;&lt;td&gt;&lt;a href=&#39;&quot; +  {!productItemUrl} 
+  &quot;&#39;&gt;&lt;img src=&#39;&quot; + {!serverUrl} + {!productItem.ImageName__c} +&quot;&#39; height=&#39;&quot; + {!imgSize} + &quot;&#39; width=&#39;&quot; + {!imgSize} + &quot;&#39;&gt;&lt;/a&gt;&lt;/td&gt;&lt;tr&gt;&lt;td&gt;&quot; +  {!htmlBolderStart} + {!productItem.Label} +  {!htmlBolderEnd} + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>productItemUrl</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
   SUBSTITUTE(
    if(LOWER(LEFT({!productItem.ApplicationUrl__c},4))=&quot;http&quot;,
      {!productItem.ApplicationUrl__c},
      {!serverUrl} + {!productItem.ApplicationUrl__c} ),
&quot;{GlobalId}&quot;, {!globalId}),
&quot;{OpportunityId}&quot;, {!opportunityId})</expression>
    </formulas>
    <formulas>
        <name>serverUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100},Find(&quot;/&quot;, {!$Api.Enterprise_Server_URL_100},10)-1)</expression>
    </formulas>
    <interviewLabel>Product Contract Url {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Contract Url</label>
    <loops>
        <name>listApplicationItems</name>
        <label>listApplicationItems</label>
        <locationX>112</locationX>
        <locationY>514</locationY>
        <assignNextValueToReference>productItem</assignNextValueToReference>
        <collectionReference>config1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isPreffered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>openWithoutUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Application_Mdt</name>
        <label>Application Mdt</label>
        <locationX>109</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>listApplicationItems</targetReference>
        </connector>
        <object>ProductContractUrl__mdt</object>
        <outputReference>config1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApplicationUrl__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>WaitForUser__c</queriedFields>
        <queriedFields>ImageName__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>ApplicationProcessId__c</queriedFields>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1009</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>accountDefined</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GlobalId__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>170</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oppDefined</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>926</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dbDataGetter2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunity.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>product2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <screens>
        <name>ProductUrlScreen</name>
        <label>ProductUrlScreen</label>
        <locationX>304</locationX>
        <locationY>1079</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>exit</targetReference>
        </connector>
        <fields>
            <name>ProductUrlListScreen</name>
            <fieldText>&lt;p&gt;{!productHtml}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>myFooter</name>
            <extensionName>c:FlowFooterHelper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showSave</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>7</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>applicationProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>xxx</stringValue>
        </value>
    </variables>
    <variables>
        <name>config1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductContractUrl__mdt</objectType>
    </variables>
    <variables>
        <name>displayMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>text</stringValue>
        </value>
    </variables>
    <variables>
        <name>globalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>htmlBolderEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>htmlBolderStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>htmlImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imgSize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>55</stringValue>
        </value>
    </variables>
    <variables>
        <name>lastPrefferedProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductContractUrl__mdt</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>prefferedItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>prefferedItemRowHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductContractUrl__mdt</objectType>
    </variables>
    <variables>
        <name>productItemRowsHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showButtons</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
