cmss/main/default/flows/ProductionStatisticsLinks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetMOTDashboardLink</name>
        <label>Set MOT Dashboard Link</label>
        <locationX>481</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>productionStatisticsDashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMOTDashboardLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMOTRMMOSCommissionStatementDashboard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMOTRMMOSCommissonDashboardLink</name>
        <label>Set MOT/RM/MOS Commisson Dashboard Link</label>
        <locationX>588</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>commissionStatementDashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMOTRMMOSCommissionStatementDashboard.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StatisticsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOZDashboardLink3</name>
        <label>Set OZ Dashboard Link</label>
        <locationX>974</locationX>
        <locationY>917</locationY>
        <assignmentItems>
            <assignToReference>productionStatisticsDashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOZDashboardMTLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commissionStatementDashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOZCommissionStatementDashboard.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StatisticsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRMMOSDashboardLink</name>
        <label>Set RM/MOS Dashboard Link</label>
        <locationX>715</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>productionStatisticsDashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRMMOSDashboardLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMOTRMMOSCommissionStatementDashboard</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAgentActivityType</name>
        <label>Check Agent Activity Type</label>
        <locationX>707</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>DefaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AgentActivityType112</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.AgentActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>112</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMOTDashboardLink</targetReference>
            </connector>
            <label>Agent Activity Type 112</label>
        </rules>
        <rules>
            <name>AgentActivityType110108</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.AgentActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.AgentActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>108</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRMMOSDashboardLink</targetReference>
            </connector>
            <label>Agent Activity Type 110/108</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserProfile</name>
        <label>Check User Profile</label>
        <locationX>704</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>DefaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMSSUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CMSS User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAgentActivityType</targetReference>
            </connector>
            <label>CMSS User</label>
        </rules>
        <rules>
            <name>CMSSExperienceUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CMSS Experience User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOZDashboardMTLink</targetReference>
            </connector>
            <label>CMSS Experience User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ProductionStatisticsLinks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProductionStatisticsLinks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetMOTDashboardLink</name>
        <label>Get  MOT Dashboard Link</label>
        <locationX>479</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMOTDashboardLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkMOTDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMOTRMMOSCommissionStatementDashboard</name>
        <label>Get MOT/RM/MOS Commission Statement Dashboard</label>
        <locationX>588</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMOTRMMOSCommissonDashboardLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkMOTRMMOSCommissionStatementDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOZCommissionStatementDashboard</name>
        <label>Get OZ Commission Statement Dashboard</label>
        <locationX>973</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOZDashboardLink3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkOZCommissionDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOZDashboardMTLink</name>
        <label>Get OZ Dashboard MT Link</label>
        <locationX>973</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOZCommissionStatementDashboard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkOZDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRMMOSDashboardLink</name>
        <label>Get RM/MOS Dashboard Link</label>
        <locationX>720</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRMMOSDashboardLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkRMMOSDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DefaultScreen</name>
        <label>DefaultScreen</label>
        <locationX>464</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayDefaultText</name>
            <fieldText>&lt;p&gt;Pro vašeho uživatele nejsou k dispozici žádné odkazy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StatisticsScreen</name>
        <label>StatisticsScreen</label>
        <locationX>775</locationX>
        <locationY>1326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowLink</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!productionStatisticsDashboardLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 153, 205); font-size: 14px;&quot;&gt;&lt;strong&gt;Produkční statistiky&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!commissionStatementDashboardLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 153, 205); font-size: 14px;&quot;&gt;&lt;strong&gt;Provizní výpis﻿y﻿&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>586</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>CheckUserProfile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>commissionStatementDashboardLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productionStatisticsDashboardLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
