cmss/main/default/flows/ProductionStatisticsLinks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetMOTDashboardLink</name>
        <label>Set MOT Dashboard Link</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>dashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMOTDashboardLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdStatScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOZDashboardLink</name>
        <label>Set OZ Dashboard Link</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>dashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOZDashboardMTLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdStatScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOZDashboardLink2</name>
        <label>Set OZ Dashboard Link</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>dashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOZDashboardMTLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdStatScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOZDashboardLink3</name>
        <label>Set OZ Dashboard Link</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>dashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOZDashboardMTLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdStatScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRMMOSDashboardLink</name>
        <label>Set RM/MOS Dashboard Link</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>dashboardLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRMMOSDashboardLink.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdStatScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAgentActivityType</name>
        <label>Check Agent Activity Type</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>SetOZDashboardLink2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AgentActivityType112</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.AgentActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>112</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMOTDashboardLink</targetReference>
            </connector>
            <label>Agent Activity Type 112</label>
        </rules>
        <rules>
            <name>AgentActivityType110108</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.AgentActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.AgentActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>108</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRMMOSDashboardLink</targetReference>
            </connector>
            <label>Agent Activity Type 110/108</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserAssignedPermSet</name>
        <label>Check User Assigned PermSet</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>SetOZDashboardLink3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMSSExperienceUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoadCMSSExperienceUserPermSetAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOZDashboardLink</targetReference>
            </connector>
            <label>CMSS Experience User</label>
        </rules>
        <rules>
            <name>CMSSUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoadCMSSUserPermSetAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAgentActivityType</targetReference>
            </connector>
            <label>CMSS User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ProductionStatisticsLinks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProductionStatisticsLinks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetMOTDashboardLink</name>
        <label>Get  MOT Dashboard Link</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMOTDashboardLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkMOTDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOZDashboardMTLink</name>
        <label>Get OZ Dashboard MT Link</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckUserAssignedPermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkOZDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRMMOSDashboardLink</name>
        <label>Get RM/MOS Dashboard Link</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRMMOSDashboardLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkRMMOSDashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LoadCMSExperiencePermissionSet</name>
        <label>Load CMSS Experience Permission Set</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoadCMSSExperienceUserPermSetAssignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMSS_Experience_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LoadCMSSExperienceUserPermSetAssignement</name>
        <label>Load CMSSExperienceUser PermSet Assignement</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoadCMSSUserPermSetAssignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoadCMSExperiencePermissionSet.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LoadCMSSUserPermissionSet</name>
        <label>Load CMSS User Permission Set</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoadCMSExperiencePermissionSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMSS_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LoadCMSSUserPermSetAssignement</name>
        <label>Load CMSSUser PermSet Assignement</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOZDashboardMTLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoadCMSSUserPermissionSet.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ProdStatScreen</name>
        <label>ProdStatScreen</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowLink</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!dashboardLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(8, 151, 234);&quot;&gt;&lt;strong&gt;Produkční statistiky&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoadCMSSUserPermissionSet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dashboardLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
