cmss/main/default/flows/RecordTriggerPortfolioManagementRequestBeforeCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetFieldsFromRelatedCase</name>
        <label>Set Fields From Related Case</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.OriginalPortfolioManagerA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PortfolioMngmtA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UniqueId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetPortfolioManagementType</name>
        <label>Set Portfolio Management Type</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.PortfolioManagementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.PortfolioManagementType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetFieldsFromRelatedCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPortfolioManager</name>
        <label>Set Portfolio Manager</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PortfolioManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.NewPortfolioManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCasePortfolioManagementTypeProvided</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCasePortfolioManagementTypeProvided</name>
        <label>Is Case Portfolio Management Type Provided?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>SetFieldsFromRelatedCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasePortfolioManagementTypeProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.PortfolioManagementType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPortfolioManagementType</targetReference>
            </connector>
            <label>Case Portfolio Management Type Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCasePortfolioManagerProvided</name>
        <label>Is Case Portfolio Manager Provided?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>IsCasePortfolioManagementTypeProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasePortfolioManagerProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.NewPortfolioManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPortfolioManager</targetReference>
            </connector>
            <label>Case Portfolio Manager Provided</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UniqueFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__c} + {!$Record.Case__c}</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Portfolio Management Request Before Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Portfolio Management Request Before Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsCasePortfolioManagerProvided</targetReference>
        </connector>
        <object>PortfolioManagementRequest__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
