cmss/main/default/flows/RegisterCall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>OpenAccRecordId</name>
        <label>OpenAccRecordId</label>
        <locationX>518</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nova_udalost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpenOppRecordId</name>
        <label>OpenOppRecordId</label>
        <locationX>660</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nova_udalost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsOpportunityDefined</name>
        <label>Is Opportunity Defined</label>
        <locationX>575</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>Opp Defined</label>
        </rules>
    </decisions>
    <description>Flow určené pro Quick Action &quot;Zaznamenat telefon&quot; na Accountu a Opportunitě</description>
    <dynamicChoiceSets>
        <name>eventType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>eventEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>eventSubjectFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Telefonát&quot;</expression>
    </formulas>
    <interviewLabel>Register Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Register Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>856</locationX>
        <locationY>426</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>eventStartScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eventDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>eventEndScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>eventStartScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>eventSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>GetAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>376</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenAccRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>773</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenOppRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Nova_udalost</name>
        <label>Nová událost</label>
        <locationX>589</locationX>
        <locationY>469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateEvent</targetReference>
        </connector>
        <fields>
            <name>accountNameScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nová událost&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!GetAccount.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eventTypeScreen</name>
            <choiceReferences>eventType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Call</stringValue>
            </defaultValue>
            <fieldText>Typ události</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eventStartScreen</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>eventStartTime</elementReference>
            </defaultValue>
            <fieldText>Začátek</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eventEndScreen</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>eventEndTime</elementReference>
            </defaultValue>
            <fieldText>Konec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eventDescription</name>
            <dataType>String</dataType>
            <fieldText>Informace o události</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Uložit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>IsOpportunityDefined</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetAccount.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>eventStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetOpportunity.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>