cmss/main/default/flows/SendDelegatedTaskEmailNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendDelegatedTaskEmail_0</name>
        <label>SendDelegatedTaskEmail</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>Task.DelegatedTaskAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_over_delegated_tasks</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>actualTaskId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_actual_task_Id</name>
        <label>Assign actual task Id</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>actualTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_delegated_tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendDelegatedTaskEmail_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SendDelegatedTaskEmailNotifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Delegated Task Email Notifications</label>
    <loops>
        <name>Iterate_over_delegated_tasks</name>
        <label>Iterate over delegated tasks</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>delegatedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_actual_task_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iterate_over_delegated_tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actualTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>delegatedTasks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
