cmss/main/default/flows/Subflow_Get_recipients_users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Assistant_1</name>
        <label>Assign Assistant 1</label>
        <locationX>264</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Assistant_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Portfolio_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Portfolio_Manager</name>
        <label>Assign Portfolio Manager</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>NewPortfolioManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Regional_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Regional_Manager</name>
        <label>Assign Regional Manager</label>
        <locationX>264</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>RegionalManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Assistant_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_User_Ids</name>
        <label>Collect User Ids</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case.NewPortfolioManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case.RegionalManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case.RegionalManagerAssistant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_user_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Assistant_1</name>
        <label>Is Assistant 1</label>
        <locationX>396</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Loop_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_users.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case.RegionalManagerAssistant__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assistant_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Portfolio_Manager</name>
        <label>Is New Portfolio Manager</label>
        <locationX>396</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Is_Regional_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_users.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case.NewPortfolioManager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Portfolio_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner</name>
        <label>Is Owner</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Is_New_Portfolio_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_users.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Regional_Manager</name>
        <label>Is Regional Manager</label>
        <locationX>396</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Is_Assistant_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_users.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case.RegionalManager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Regional_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Get users that can recieve notifications: Case owner, regional manager, assitants, new portfolio manager</description>
    <environments>Default</environments>
    <interviewLabel>Subflow: Get recipients users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Get recipients users</label>
    <loops>
        <name>Loop_users</name>
        <label>Loop users</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_user_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_records</name>
        <label>Get user records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_users</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_User_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assistant_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NewPortfolioManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RegionalManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>user ids to be selected: regional manager, assistants, new portfolio manager and owner</description>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
