cmss/main/default/flows/Subflow_Create_Mail_Service_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Mail_Service_Notification</name>
        <label>Create Mail Service Notification</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>InvocableMailNotificationsHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_return</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecord</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receiverEmail</name>
            <value>
                <elementReference>Recipient.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecord</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_return</name>
        <label>Assign return</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>MailServiceNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Mail_Service_Notification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Recipient_meets_criteria</name>
        <label>Recipient meets criteria</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recipient.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recipient.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mail_Service_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Will create new Mail service notification (if provided recipient IsActive)</description>
    <environments>Default</environments>
    <interviewLabel>Subflow: Create Mail Service Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Create Mail Service Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recipient_meets_criteria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>MailServiceNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MailServiceNotification__c</objectType>
    </variables>
    <variables>
        <description>a user record</description>
        <name>Recipient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
