cmss/main/default/flows/ThreatDetectionAPIAnomalyEventNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendThreatDetectionEmailNotification</name>
        <label>Send ThreatDetection Email Notification</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <actionName>ThreatDetectionNotificationHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__events</typeName>
            <typeValue>ApiAnomalyEventStore</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>events</name>
            <value>
                <elementReference>GetStoreRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <interviewLabel>ThreatDetection API Anomaly Event Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ThreatDetection API Anomaly Event Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetStoreRecord</name>
        <label>Get Store Record</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendThreatDetectionEmailNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventIdentifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApiAnomalyEventStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetStoreRecord</targetReference>
        </connector>
        <object>ApiAnomalyEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
