cmss/consent-management/flows/GeneralConsentCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Enable_General_Consent</name>
        <label>Enable General Consent</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>GeneralConsentEnablement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsExternalIDReturned</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentCPU</name>
            <value>
                <elementReference>consentCreationInput.generalConsent.AgentCPU__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentEntityId</name>
            <value>
                <elementReference>consentCreationInput.generalConsent.EntityConsent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentVersionId</name>
            <value>
                <elementReference>consentCreationInput.generalConsent.GeneralConsentVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>substitutePersonId</name>
            <value>
                <elementReference>consentCreationInput.generalConsent.SubstitutePerson__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>substituteRoleId</name>
            <value>
                <elementReference>consentCreationInput.generalConsent.SubstituteRole__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>externalId</assignToReference>
            <name>externalId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Consent_Assignment</name>
        <label>Consent Assignment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>consentCreationInput.generalConsent.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>consentCreationInput.generalConsent.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_General_Consent</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccountFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>AccountLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Klient</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConsentObjectAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consent__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubstituePersonFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SubstitutePerson__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubstitutePersonLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Zástupné osoby</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsExternalIDReturned</name>
        <label>Is External ID Returned</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExtenalIDReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Assignment</targetReference>
            </connector>
            <label>External ID Returned</label>
        </rules>
        <rules>
            <name>ErrorOccurredExternalIDNotReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Error Occurred, External ID Not Returned</label>
        </rules>
    </decisions>
    <description>Screen flow used to create new General Consent.</description>
    <dynamicChoiceSets>
        <name>Consent_ConsentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ConsentType__c</picklistField>
        <picklistObject>Consent__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Consent_EntityConsent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EntityConsent__c</picklistField>
        <picklistObject>Consent__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Consent_GeneralConsent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GeneralConsent__c</picklistField>
        <picklistObject>Consent__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Consent_GeneralConsentVersion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GeneralConsentVersion__c</picklistField>
        <picklistObject>Consent__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Consent_SubstituteRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubstituteRole__c</picklistField>
        <picklistObject>Consent__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>General Consent Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General Consent Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_General_Consent</name>
        <label>Create General Consent</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>consentCreationInput.generalConsent</inputReference>
    </recordCreates>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Chyba systému&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Došlo k chybě při založení nového souhlasu.&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Kontaktujte prosím administrátora systému nebo opakujte svojí volbu později.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionConsentType</name>
        <label>Vyberte nový souhlas</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enable_General_Consent</targetReference>
        </connector>
        <fields>
            <name>consentCreationInput</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Consent__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:consentCreationInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Souhlas byl úspěšně vytvořen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectionConsentType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>externalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
