cmss/consent-management/flows/InternalConsentCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Enable_Internal_Consents</name>
        <label>Enable Internal Consents</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>InternalConsentEnablement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsExternalIDReturned</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentType</name>
            <value>
                <elementReference>ConsentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentValue</name>
            <value>
                <elementReference>InternalConsentTypeValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>ConsentSource</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>validFrom</name>
            <value>
                <elementReference>ValidFrom</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>validTo</name>
            <value>
                <elementReference>ValidTo</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>externalId</assignToReference>
            <name>externalId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Internal_Consent_Assignment</name>
        <label>Internal Consent Assignment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>internalConsent.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalConsent.InternalConsentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalConsent.InternalConsentValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalConsentTypeValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalConsent.ValidFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidFrom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalConsent.ValidTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalConsent.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalConsent.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Internal_Consent</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccountFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>AccountFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>InternalConsentObjectAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InternalConsent__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsExternalIDReturned</name>
        <label>Is External ID Returned</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExtenalIDReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Consent_Assignment</targetReference>
            </connector>
            <label>External ID Returned</label>
        </rules>
        <rules>
            <name>ErrorOccurredExternalIDNotReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Error Occurred, External ID Not Returned</label>
        </rules>
    </decisions>
    <description>Screen flow used to create new Internal Consent.</description>
    <dynamicChoiceSets>
        <name>InternalConsentSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>InternalConsent__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalConsentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InternalConsentType__c</picklistField>
        <picklistObject>InternalConsent__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalConsentValuePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InternalConsentValue__c</picklistField>
        <picklistObject>InternalConsent__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Internal Consent Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Consent Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Internal_Consent</name>
        <label>Create Internal Consent</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>internalConsent</inputReference>
    </recordCreates>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Chyba systému&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Došlo k chybě při založení nového souhlasu.&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Kontaktujte prosím administrátora systému nebo opakujte svojí volbu později.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionConsentType</name>
        <label>Vyberte nový souhlas</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enable_Internal_Consents</targetReference>
        </connector>
        <fields>
            <name>ConsentType</name>
            <choiceReferences>InternalConsentTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Druh souhlasu</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InternalConsentTypeValue</name>
            <choiceReferences>InternalConsentValuePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hodnota souhlasu</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValidFrom</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Platnost od</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValidTo</name>
            <dataType>DateTime</dataType>
            <fieldText>Platnost do</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConsentSource</name>
            <choiceReferences>InternalConsentSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zdroj</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Souhlas byl úspěšně vytvořen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectionConsentType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>internalConsent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InternalConsent__c</objectType>
    </variables>
    <variables>
        <name>internalConsents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InternalConsent__c</objectType>
    </variables>
</Flow>
